.iso-letter-portrait {
  width: 8.5in;

}

.iso-letter-landscape {
  width: 11in;

}

.iso-folio-portrait {
  width: 8.5in;

}

.iso-folio-landscape {
  width: 13in;

}

.iso-legal-portrait {
  width: 8.5in;

}

.iso-legal-landscape {
  width: 14in;

}

.iso-A4-portrait {
  width: 21cm;

}

.iso-A4-landscape {
  width: 29.7cm;

}


.iso-body {
  margin: 48px;
  padding: 0;
  background-color:lightgray
}

.iso-page {
  page-break-after: always;
  position: relative;
  background-color: white
}

.iso-content {
  padding: 0 1em
}